<template id='about'>
    <h1 class="headline">About Me</h1>

    <div class="me">
        <section class="section-left">
            <div class="image"><img src="./img/rabit-16x16-4bit[gameboy-color].jpg" alt=""></div>
            <p class="nickname">Zeki Chang</p>                
            <p class="birthday">1987.12.10／射手座</p>
            <p class="social-media">IG: <a href="https://www.instagram.com/pixelart_zeki/" target="_blank">@pixelart_zeki</a></p>
        </section>
        
        <section class="section-right">
            <p class="description">
                Hi，我是Zeki，出生於屏東竹田，這裡是我的像素秘密基地。 然後覺得Pixel Art是個有趣的藝術!!
                我喜歡任何有關像素風格的作品。 舉凡是用點陣形式創作的作品都覺得很有趣!!
                像是Isometric Pixel Art, Robocraft Game, Minecraft Game, 鑽石畫, LEGO, NanoBlock... 等。
            </p>                
        </section>

    </div>

</template>