<template id='contact'>

    <h1 class="headline">Contact Me</h1>    
    <form id="contact-form" class="contactForm">

        <input type="hidden" name="contact_number">

        <div>NickName<span class="required">*</span></div>
        <input type="text" name="user_name" size="30" required="required"/>

        <div>E-mail<span class="required">*</span></div>
        <input type="email" name="user_email" size="30" onblur="isEmail(this.value)" placeholder="test@example.com" required="required"/>
        <span class="formTip"></span>
        
        <div>Message<span class="required">*</span></div>
        <textarea name="message" cols="45" rows="6" required="required"></textarea>
        <p class="required">*號為必填</p>        
        <br/>
        <input id="sendZeki" type="submit" value="Send" />
        
    </form>
    <div id="send-status" class="sendStatus">
        <div class="sending"></div>        
        <p class="msg">Sending mail...</p>
        <a href='javascript:void(0)' class='return'><= return</a>
        
    </div>

    <script type="text/javascript">
        emailjs.init('A1O32767lvzH8CNyq');
        getId('send-status').addClass('d-none');
        getId('contact-form').addEventListener('submit', function(event) {
            event.preventDefault();
            // generate a five digit number for the contact_number variable
            this.contact_number.value = Math.random() * 100000 | 0;
            // these IDs from the previous steps
            getId('contact-form').addClass('d-none');
            getId('send-status').delClass('d-none');
            emailjs.sendForm('service_zekiray', 'template_zekiray', this)
                .then(function() {
                    resultPage("Mail sent successfully!");
                }, function(error) {
                    resultPage(`Sorry, Mail delivery failed...${error}`);
                });
        });
        function resultPage(message){        
            getId('send-status').getClasses('msg')[0].innerHTML = message;
            getId('send-status').getClasses('sending')[0].addClass('d-none');
            getId('send-status').getClasses('return')[0].addClass('d-block');
            getId('send-status').getClasses('return')[0].addEventListener('click',()=>{
                getId('send-status').getClasses('sending')[0].delClass('d-none');
                getId('send-status').getClasses('return')[0].delClass('d-block');
                getId('send-status').getClasses('msg')[0].innerHTML = 'Sending mail...';
                getId('send-status').addClass('d-none');
                getId('contact-form').delClass('d-none');
            })
        }

    </script>    
</template>

