<template id='contact'>

    <h1 class="headline">Contact Me</h1>    
    <form id="contact-form" class="contactForm">
    

        <input type="hidden" name="contact_number">

        <div>NickName<span class="required">*</span></div>
        <input type="text" name="user_name" size="30" required="required"/>

        <div>E-mail<span class="required">*</span></div>
        <input type="email" name="user_email" size="30" onblur="isEmail(this.value)" placeholder="test@example.com" required="required"/>
        <span class="formTip"></span>
        
        <div>Message<span class="required">*</span></div>
        <textarea name="message" cols="45" rows="6" required="required"></textarea>
        <p class="required">*號為必填</p>        
        <br/>
        <input id="sendZeki" type="submit" value="Send" />
        
    </form>

</template>

<script type="text/javascript">
    emailjs.init('A1O32767lvzH8CNyq');

    document.getElementById('contact-form').addEventListener('submit', function(event) {
        event.preventDefault();
        // generate a five digit number for the contact_number variable
        this.contact_number.value = Math.random() * 100000 | 0;
        // these IDs from the previous steps
        emailjs.sendForm('service_zekiray', 'template_zekiray', this)
            .then(function() {
                alert('Mail sent successfully!');
            }, function(error) {
                alert('Mail delivery failed...', error);
            });
    });
</script>