<template id='nav'>
  <h1><a href="./"><img src="img/Pixel-FantasyX3.png" alt="Zeki's Secret Base." title="Zeki's Secret Base."></a></h1>
  <!-- <h1>Pixel Fantasy</h1> -->
  <ul class="navbar-nav">    
    <li>Pixel
      <ul class="navbar-nav-list">
        <li><a href="javascript:void(0)" id="vogue">Vogue Fantasy</a></li>
        <li><a href="javascript:void(0)" id="animal">Animal Fantasy</a></li>
        <li><a href="javascript:void(0)" id="vehicle">Vehicle Fantasy</a></li>
        <!-- <li><a href="javascript:void(0)" id="house">House Fantasy</a></li> -->
      </ul>
    </li>
    <!-- <li><a href="javascript:void(0)" id="home">HOME</a></li> -->
    <!-- <li><a href="javascript:void(0)" id="portfolio">PORTFOLIO</a></li> -->
    <li><a href="javascript:void(0)" id="news">News</a></li>
    <li><a href="javascript:void(0)" id="about">About</a></li>
    <li><a href="javascript:void(0)" id="contact">Contact</a></li>
  </ul>
</template>