<template id='nav'>
  <div id="navList-m" class="nav-list-m">
    <img class="menu" src="././svg/iconmonstr-menu.svg" alt="">
    <img class="close" src="././svg/iconmonstr-x-mark-lined.svg" alt="">
  </div>
  <h1><a href="./"><img src="././img/Pixel-FantasyX3.png" alt="Zeki's Secret Base." title="Zeki's Secret Base."></a></h1>
  <!-- <h1>Pixel Fantasy</h1> -->
  <ul id="navList" class="nav-list">
    <li>
      <a>Pixel</a>
      <ul class="nav-list-pixel">
        <li><a href="vogue">Vogue</a></li>
        <li><a href="animal">Animal</a></li>
        <li><a href="vehicle">Vehicle</a></li>
        <!-- <li ref="house">House Fantasy</li> -->
      </ul>
    </li>
    <li><a href="news">News</a></li>
    <li><a href="about">About</a></li>
    <li><a href="contact">Contact</a></li>
  </ul>
</template>