<template id='vehicle'>
    
    <h1 class="headline">Vehilce Fantasy</h1>

    <div class="loading"><span></span></div>

    <div id="vehicleWork"></div>

    <div id="showBox">
        <div class="showBoxPreloader"></div>
        <div class="showBoxBackGround"></div>
        <div class="showBoxContainer">
            <div class="showBoxClose">×</div>
            <div class="showBoxCover">
                <div class="showBoxTitleWrap">
                    <div class="showBoxTitleBox">
                        <div class="showBoxTitle"></div>
                    </div>
                </div>
                <img src="" alt="">
                <div class="showBoxInfo"></div>
            </div>            
        </div>
    </div>

    <script type="text/javascript">
        pixelArtWork('vehicle');
    </script>    
</template>