<template id='vogue'>

    <h1 class="headline">Vogue Fantasy</h1>
    <div id="vogueWork"></div>
    <!-- <div class="pixelart_Thumbnail">
        <a href="img/pixelart/vogue/VF20200503.png">
            <img src="img/pixelart/vogue/VF20200503.png" alt="">
        </a>
    </div> -->
    
    <div id="showBox">
            <div class="showBoxPreloader"></div>
            <div class="showBoxBackGround"></div>
            <div class="showBoxContainer">
                <div class="showBoxClose">×</div>
                <div class="showBoxCover">
                    <div class="showBoxTitleWrap">
                        <div class="showBoxTitleBox">
                            <div class="showBoxTitle"></div>
                        </div>                        
                    </div>                    
                    <div class="showBoxInfo"></div>
                    <img src="" alt="">
                </div>            
            </div>
    </div>

</template>

<script type="text/javascript">
    pixelArtWork('vogue');
</script>