.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 90px;
    font-weight: bold;
    line-height: 100px;
    height: 100px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 100px;
  }
  
.square:focus {
    outline: none;
}
  
.win-square {
    border: 3px solid #935a5a;  
    background-color: rgba(169, 34, 30, 0.25);
}
  
.kbd-navigation .square:focus {
    background: #ddd;
}