{% extends "default.njk" %} {% block content %}
<article class="post" data-input-path="{{ page.filePathStem }}">
  <h1 class="post-title">{{ title }}</h1>
  <time class="post-date" datetime="{{ date | dateISO }}"
    >{{ date | dateFormat('LL') }}</time
  >
  {{ content | safe | trim }}
  <div class="post-tags">
    Tags: {% for tag in tags %}
    <a
      href="/tags/{{ tag | lowercase }}"
      rel="tooltip"
      title='View posts tagged with "{{ tag }}"'
    >
      <span>{{ tag }}</span>
    </a>
    {% endfor %}
  </div>
</article>

{% if (page.signature == undefined) or (page.signature == true) %} {% include
"signature.njk" %} {% endif %}

<div class="related">
  {%- set relatedPosts = collections.posts | related | reverse | limit(3) -%}
  {%- if relatedPosts.length %}
  <h2>Related Posts</h2>
  <ul class="related-posts">
    {%- for post in relatedPosts%}
    <li>
      <h3>
        <a href="{{ post.url }}"
          >{{ post.data.title }}
          <small>{{ post.date | dateFormat('LL') }}</small></a
        >
      </h3>
    </li>
    {%- endfor %}
  </ul>
  {% endif %}
</div>
{% include "comments.njk" %} {% endblock %}
