<div class="message">
  <img class="profile" src="/images/profile.jpg" alt="profile-image" />
  <div class="intro-message">
    Hi, 我是
    Zeki。目前為一名前端工程師。我相信科技始終來自於人性，是用來幫助人們過上更有品質的生活的，但願也希望如此。
  </div>
</div>
