nav
    float: left
    width: 215px
    height: 100%
    background-color: #F3F9FE    
    border-top-left-radius: inherit
    border-bottom-left-radius: inherit

.nav-wrap
    display: flex
    flex-direction: column
    width: min-content
    margin: 0 auto

h1    
    color: #50AEFE !important
    padding: 30px 0

.nav-link-wrap
    padding: 30px 0
