/* CSS RESET START */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

div {
  box-sizing: border-box
}
/* CSS RESET END */


/* CUSTOM CSS START */
.container {
  width: 1024px;
  height: 768px;
  margin: 0 auto;
  box-shadow: 0 10px 20px #CECECE;
}

.img-done-0up { background-image: url(../images/certificate-done-0up.svg) }
.img-done-3up { background-image: url(../images/certificate-done-3up.svg) }
.img-done-6up { background-image: url(../images/certificate-done-6up.svg) }
.img-done-all { background-image: url(../images/certificate-done-all.svg) }

.challenger {
  text-align: center;
  font-size: 64px;
  font-weight: 900;
  line-height: 80px;
  padding-top: 382px;
  font-family: Arial, Helvetica, sans-serif;
}

.numbers {
  font-size: 16px;
  font-weight: bold;
  padding-left: 356px;
  padding-top: 56px;
  font-family: Arial, Helvetica, sans-serif;
}

.text-white { color: #fff }
.text-dark { color: #000066 }
.img-done-6up .text-dark{color: #fff}
/* CUSTOM CSS END */