ul {
    list-style: none;
    padding: 0 15px;
}

.question {
    border-bottom: 1px solid #dddfe2;
    padding: 20px 0;
}

body > .title {
    font-size: 30px;
    font-weight: bold;
}

.title {
    text-align: center;
}

.desc {
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 5px;
}

.choice {
    margin-top: 10px;
    span{
        background-color: darkcyan;
        color: white;
        padding: 5px;
        border-radius: 5px;
    }
}

.radio_group {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}


label {
    position: relative;
    display: flex;
}

.radio_tick {
    position: absolute;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    margin-left: 5px;
    border-radius: 50%;
    box-shadow: inset 0 1px rgba(81,89,106,.05);
    color: gray;
    border: 3px solid gray;
    background-color: #fff;
    transition: all .2s ease-in-out;
    margin-top: 3px;
    box-sizing: border-box;
    font-weight: bold;
}

.radio_tick:hover {
    cursor: pointer;
    background-color: gray;
    color: #fff;
}

input[type="radio"] {
    width: 30px;
    height: 30px;
}

[type="radio"]:checked + .radio_tick{
    background-color: gray;
    color: #fff;
}

blockquote {
    background-color: rgb(246, 246, 246);
    color: rgb(51, 51, 51);
    border-left: 0.4em solid rgb(229, 229, 229);
    margin: 0px 0px 1.25em;
    padding: 0.8em 1.1em;
}

.description{
    padding: 30px;
}

.explain {
    color: darkcyan;
    margin-top: 10px;
}

.values_result {

    span {
        display: block;
        background-color: black;
        color: oldlace; 
        width: fit-content;
        padding: 5px;
        margin: 5px;
        border-radius: 5px;
    }
}